@use "../abstract/variables" as var;
@use "../abstract/mixins" as mix;
@use "sass:map";

body {
    
    @include mix.respond_to(min, m_screen) {
        //this code is necessary just to display the componenent as absolutely centered
        margin-inline: auto;
        inline-size: fit-content;
        min-block-size: 100vh;
        align-content: center;
        background-color: var.$blue--50;
    }
}

.result_container {
    display: flex;
    flex-direction: column;

    background-color: var.$white;

    border-radius: map.get(var.$spacing, 32);

    box-shadow: 0 calc(map.get(var.$spacing, 32) - map.get(var.$special_spacing, 2)) calc(map.get(var.$spacing, 32) * 2 - map.get(var.$special_spacing, 4)) 0 var.$box-shadow;

    @include mix.respond_to(min, m_screen) {
        flex-direction: row;
        inline-size: 42.875rem; //necessary to fight fit-content of body, otherwise it shrinks
    }

    @include mix.respond_to(min, l_screen) {
        inline-size: 46rem; //necessary to fight fit-content of body, otherwise it shrinks
    }
}