@use "../../../sass/abstract/variables" as var;
@use "sass:map";

.feedback_container {
    text-align: center;
    max-inline-size: calc(map.get(var.$spacing, 80) * 3 + map.get(var.$spacing, 16) + map.get(var.$special_spacing, 2) * 2);

    &__intro {
        margin-block-end: map.get(var.$spacing, 8);
        text-transform: capitalize;
        color: var.$white;
    }

    &__paragraph {
        color: var.$navy--200;
    }
}