@use "../../../sass/abstract/variables" as var;
@use "../../../sass/abstract/mixins" as mix;
@use "../../../sass/abstract/functions" as func;

.feedback_container {
    text-align: center;
    max-inline-size: var.$size_content_l_screen;

    &__intro {
        margin-block-end: var.$margin_element_block;
        text-transform: capitalize;
        color: var.$white;

        @include mix.respond_to(min, m_screen) {
            margin-block-end: calc(var.$margin_element_block * 2);
            font-size: func.to_rem(32);
        }
    }

    &__paragraph {
        color: var.$navy--200;

        @include mix.respond_to(min, m_screen) {
            font-size: func.to_rem(18);
        }
    }
}