@use "../../../sass/abstract/mixins" as mix;
@use "../../../sass/abstract/variables" as var;

.summary_list > *:not(:last-child) {
    margin-block-end: var.$gap_list_item;
}

@include mix.respond_to(min, m_screen) {
    svg {
        inline-size: 20px;
        block-size: 20px;
    }
}