@use "../../../sass/abstract/variables" as var;
@use "sass:map";

.result_section {
    background-color: var.$gradient_2;

    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-self: center;
        gap: map.get(var.$spacing, 24);

        max-inline-size: calc(map.get(var.$spacing, 80) * 3 + map.get(var.$spacing, 16) + map.get(var.$special_spacing, 2) * 2);
    }

    &__heading {
        color: var.$navy--200;
    }
}