@use "../../../sass/abstract/variables" as var;
@use "../../../sass/abstract/functions" as func;
@use "../../../sass/abstract/mixins" as mix;
@use "sass:map";

.result_section {
    background: var.$gradient_2;

    border-end-end-radius: var.$border_radius;
    border-end-start-radius: var.$border_radius;

    padding: var.$padding_section var.$padding_section_inline;

    @include mix.respond_to(min, m_screen) {
        padding: var.$padding_section_block_l_screen var.$padding_section_inline_l_screen;
        border-start-start-radius: var.$border_radius;
        border-start-end-radius: var.$border_radius;
    }

    @include mix.respond_to(min, l_screen) {
        padding-inline: var.$padding_section_inline_l_screen_2;
    }

    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: var.$gap_section;

        margin-inline: auto;

        @include mix.respond_to(min, m_screen) {
            gap: var.$gap_section_m_screen;
            max-inline-size: var.$size_content_m_screen;
        }

        @include mix.respond_to(min, l_screen) {
            inline-size: max-content;
            max-inline-size: var.$size_content_l_screen;
        }
    }

    &__heading {
        text-transform: capitalize;
        color: var.$navy--200;

        @include mix.respond_to(min, m_screen) {
            font-size: func.to_rem(24);
        }
    }
}