@use "../../../sass/abstract/variables" as var;
@use "../../../sass/abstract/functions" as func;
@use "../../../sass/abstract/mixins" as mix;
@use "sass:map";

.score_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background: var.$gradient_1;
    border-radius: 4.375rem;

    inline-size: var.$size_circle;
    block-size: var.$size_circle;

    @include mix.respond_to(min, m_screen) {
        border-radius: 100%;

        inline-size: var.$size_circle_m_screen;
        block-size: var.$size_circle_m_screen;
    }

    &__score {
        color: var.$white;

        @include mix.respond_to(min, m_screen) {
            font-size: func.to_rem(72);
        }
    }

    &__compare {
        color: var.$navy--200opq;

        @include mix.respond_to(min, m_screen) {
            font-size: func.to_rem(18);
        }
    }
}