@use "../../../sass/abstract/variables" as var;
@use "sass:map";

.button {
    text-transform: capitalize;

    background-color: var.$navy--950;

    color: var.$white;

    padding-block: calc(map.get(var.$spacing, 16) + map.get(var.$spacing, 8));

    border-radius: 128px;

    inline-size: 100%;
}