@use "../../../sass/abstract/variables" as var;
@use "../../../sass/abstract/mixins" as mix;

.button {
    position: relative;

    text-transform: capitalize;

    background: var.$navy--950;
    color: var.$white;

    padding-block: var.$padding_element_block;
    border-radius: var.$button_radius;

    inline-size: 100%;

    z-index: 1;

    &::after {
        background: var.$gradient_2;
        @include mix.transition(opacity, .3s, ease-in-out);
        opacity: 0;
        position: absolute;
        content: "";
        display: block;
        inset: 0;
        border-radius: inherit;
        z-index: -1;
    }

    &:hover::after {
        opacity: 1;
    }
}