*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

 a {
    font-size: 100%;
    vertical-align: baseline;
    text-decoration: none;
  }

  button {
    cursor: pointer;
  }
  
  a, img, picture, video, canvas, svg {
    display: inline-block;
    max-inline-size: 100%;
  }

  ul {
    list-style: none;
  }
  
  input, button, textarea, select, a {
    font: inherit;
    border: none;
    background-color: transparent;
  }