@use "./functions" as func;

//COLORS
$white: hsl(0deg, 100%, 100%);
$black: hsl(0deg, 0%, 0%);

$navy--950: hsl(224deg, 30%, 27%);
$navy--200: hsl(241deg, 100%, 89%);
$navy--50: hsl(221deg, 100%, 96%);

$blue--800: hsl(234deg, 85%, 45%);
$blue--50: hsl(234deg, 71%, 97%);

$yellow--400: hsl(39deg, 100%, 56%);
$yellow--50: hsl(38deg, 100%, 98%);

$red--400: hsl(0deg, 100%, 67%);
$red--50: hsl(0deg, 100%, 98%);

$green--500: hsl(166deg, 100%, 37%);
$green--50: hsl(162deg, 63%, 97%);

$gradient_1: linear-gradient(to bottom, hsl(256deg 71% 46% / 0), hsl(241deg 72% 46% / 0));
$gradient_2: linear-gradient(to top, hsl(252deg 100% 67% / 0), hsl(241deg 81% 54% / 0));

//SPACING
$spacing: (
  0:    0,       
  8:   func.to_rem(8),
  16:  func.to_rem(16),
  24:  func.to_rem(24), 
  32:  func.to_rem(32),
  80:  func.to_rem(80),
);