@use "./functions" as func;

//COLORS
$white: hsl(0deg, 100%, 100%);
$black: hsl(0deg, 0%, 0%);

$navy--950: hsl(224deg, 30%, 27%);
$navy--950opq: hsl(224deg, 30%, 27%, 50%);
$navy--200: hsl(241deg, 100%, 89%);
$navy--200opq: hsl(241deg, 100%, 89%, 51.68%);
$navy--50: hsl(221deg, 100%, 96%);

$blue--800: hsl(234deg, 85%, 45%);
$blue--50: hsl(234deg, 71%, 97%);

$yellow--400: hsl(39deg, 100%, 56%);
$yellow--50: hsl(38deg, 100%, 98%);

$red--400: hsl(0deg, 100%, 67%);
$red--50: hsl(0deg, 100%, 98%);

$green--500: hsl(166deg, 100%, 37%);
$green--50: hsl(162deg, 63%, 97%);

$gradient_1: linear-gradient(180deg, hsl(256, 72%, 46%), 	hsl(241, 72%, 46%));
$gradient_2: linear-gradient(to bottom, hsl(252deg 100% 67%), hsl(241deg 81% 54%));

//SPACING
$spacing: (
  0:    0,       
  8:   func.to_rem(8),
  16:  func.to_rem(16),
  24:  func.to_rem(24), 
  32:  func.to_rem(32),
  80:  func.to_rem(80),
);

$special_spacing: (
  1: func.to_rem(1),
  2: func.to_rem(2),
  5: func.to_rem(5),
);