@use "./functions" as func;
@use "sass:map";

//COLORS
$white: hsl(0deg, 100%, 100%);
$black: hsl(0deg, 0%, 0%);

$navy--950: hsl(224deg, 30%, 27%);
$navy--950opq: hsl(224deg, 30%, 27%, 50%);
$navy--200: hsl(241deg, 100%, 89%);
$navy--200opq: hsl(241deg, 100%, 89%, 51.68%);
$navy--50: hsl(221deg, 100%, 96%);

$blue--800: hsl(234deg, 85%, 45%);
$blue--50: hsl(234deg, 71%, 97%);

$yellow--400: hsl(39deg, 100%, 56%);
$yellow--50: hsl(38deg, 100%, 98%);

$red--400: hsl(0deg, 100%, 67%);
$red--50: hsl(0deg, 100%, 98%);

$green--500: hsl(166deg, 100%, 37%);
$green--50: hsl(162deg, 63%, 97%);

$gradient_1: linear-gradient(180deg, hsl(256deg 72% 46% / 1), 	hsl(241deg 72% 46% / 0));
$gradient_2: linear-gradient(180deg, hsl(252deg 100% 67% / 1), hsl(241deg 81% 54% / 1));
$box_shadow: hsl(224deg 82% 58% / 15%);

//SPACING
$spacing: (
  0:    0,       
  8:   func.to_rem(8),
  16:  func.to_rem(16),
  24:  func.to_rem(24), 
  32:  func.to_rem(32),
  80:  func.to_rem(80),
);

$special_spacing: (
  1: func.to_rem(1),
  2: func.to_rem(2),
  4: func.to_rem(4),
  5: func.to_rem(5),
);

//Gap
$gap_section: map.get($spacing, 24);
$gap_section_m_screen: map.get($spacing, 32);
$gap_list_item: map.get($spacing, 16);

//Padding for elements
$padding_element_block: calc(map.get($spacing, 16) + map.get($special_spacing, 1) / 2);
$padding_element_block_2: calc(map.get($spacing, 16) + map.get($special_spacing, 1) * 1.5);
$padding_element_inline: map.get($spacing, 16);

//Padding for sections
$padding_section: map.get($spacing, 32);
$padding_section_inline: calc(map.get($spacing, 32) + map.get($spacing, 24) + map.get($special_spacing, 1) * 1.5);
$padding_section_block_l_screen: calc(map.get($spacing, 32) + map.get($spacing, 8) + map.get($special_spacing, 5));
$padding_section_inline_l_screen: calc(map.get($spacing, 32) * 2 + map.get($special_spacing, 5));
$padding_section_inline_l_screen_2: calc(map.get($spacing, 32) + map.get($spacing, 24) - map.get($special_spacing, 2)); 

//Margin for elements
$margin_element_inline: map.get($spacing, 8);
$margin_element_block: map.get($spacing, 8);

//Margin for containers
$margin_content_inline: calc(map.get($spacing, 32) - map.get($special_spacing, 2));
$margin_content_block: map.get($spacing, 24);
$margin_content_m_screen: calc(map.get($spacing, 32) + map.get($spacing, 8) + map.get($special_spacing, 5) - map.get($special_spacing, 1) / 2);

//Circle and radius
$size_circle: calc(map.get($spacing, 80) * 2 - map.get($spacing, 16) - map.get($special_spacing, 4));
$size_circle_m_screen: calc(map.get($spacing, 80) * 2 + map.get($spacing, 32) + map.get($spacing, 8));

$size_content_m_screen: $size_circle_m_screen;
$size_content_l_screen: calc(map.get($spacing, 80) * 3 + map.get($spacing, 16) + map.get($special_spacing, 4));

$size_summary_content_m_screen: calc(map.get($spacing, 80) * 4 + map.get($spacing, 32) - map.get($special_spacing, 4));
$size_summary_content_l_screen: calc(map.get($spacing, 80) * 3 + map.get($spacing, 16) * 4);

$border_radius: map.get($spacing, 32);
$button_radius: 128px;